nav {
    width: 100%;
    font-size: 3rem;
    color: black;
    margin-bottom: 50px;
    background-color: #ebebeb;
    height: 80px;
    font-family: 'Arial', cursive;
  }
  
  a {
    color: black;
  }
  
  a:hover {
    color: black;
    text-decoration: none;
  }
  
  nav li {
    display: inline-block;
    padding: 26px 0;
    width: 25%;
  }
  
  ul {
    display: flex;
    align-items: center;
  }
  